<%- include('partials/header'); -%>
    <div class="area">

        <h1 class="title">B BLOCK WARDENS</h1>
        <div class="table-container">
            <table class="table is-hoverable has-text-left">
                <!-- Your table content -->
                <tr>
                    <th>S.No</th>
                    <th>Name of warden</th>
                    <th>Block</th>
                    <th>Mobile</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>DR. VIMAL K PATHAK</td>
                    <td>B1</td>
                    <td>8952031051</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>MR RAHUL B KODALI</td>
                    <td>B2</td>
                    <td>9953233417</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>MR RAVINDER KUMAR</td>
                    <td>B2</td>
                    <td>8377096196</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>MR VIDHYADHAR ASKI</td>
                    <td>B3</td>
                    <td>9535220636</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>SAILAJA P MOHANTY</td>
                    <td>B4</td>
                    <td>8003897119</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>MANOJ R</td>
                    <td>B5</td>
                    <td>9740288939</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>MR JASBIR SINGH</td>
                    <td>B6</td>
                    <td>8872224951</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>RAMJIT SINGH</td>
                    <td>B7</td>
                    <td>9798382763</td>
                </tr>
            </table>
        </div>
        <h1 class="title">G BLOCK WARDENS</h1>
        <div class="table-container">
            <table class="table is-hoverable has-text-left">
                <!-- Your table content -->
                <tr>
                    <th>S.No</th>
                    <th>Name of warden</th>
                    <th>Block</th>
                    <th>Mobile</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>MS SUNITA SAINI</td>
                    <td>G1</td>
                    <td>7426935221</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>MS POOJA SINGH</td>
                    <td>G1</td>
                    <td>7007598909</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>NEETU MARWAH</td>
                    <td>G2</td>
                    <td>9680927297</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>MS KOMAL</td>
                    <td>G4</td>
                    <td>7734792554</td>
                </tr>
            </table>
        </div>
    </div>

    <%- include('partials/footer'); -%>