<%- include('partials/header') -%>
    <div class="area">
        <h1 class="title">Request Submitted</h1>
        <h2 class="subtitle is-4">Your Request Number is : <%=id%>
        </h2>

    </div>
    <%- include('partials/footer') -%>