html {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
}
.area {
  padding: 5% 10%;
}

.table{
width: 100%;
}


.table td {

  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.subsection{
  padding-top: 2rem;
}
